<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>homepage</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:\Users\User\Desktop\my iot project github\Smart\smartpark\static\css\order.css">
<h1 align ="center">Smart Gardning User Information Update Page By Admin </h1>
</head>

<style>

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	font-family:"Comic Sans MS";
}

.topnav a:hover {
    background-color: blue;
    color: white;
}

.topnav a.active {
    background-color: blue;
    color: yellow;
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}



</style>

<body style="background: url(https://images.pexels.com/photos/1227513/pexels-photo-1227513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;">



<div class="topnav">
 <a class="active" href="Admin.html"><-BACK</a>
  <a class="active" href="sprink.html">SPRINKLER STATUS UPDATE</a>  
<a class="active" href="street.html">STREETLIGHTS STATUS UPDATE</a>
<a class="active" href="humidityupdatepage.html">WATER PIPE STATUS UPDATE</a>
<a class="active" href="alarmupdatepage.html">ALARM STATUS UPDATE </a>

</div><br>







<h1 align = "center" >


<h2>FEEDBACK AND ALL SENSORS STATUS VIEW FOR ADMIN</h2>

<div class="topnav">
 <a class="active" href="feedadmindisplay.html">FEEDBACK</a>

  <a class="active" href="tempadmindisplay.html">SPRINKLER</a>  
<a class="active" href="streetadmindisplay.html">STREETLIGHTS</a>
<a class="active" href="humadmindisplay.html">WATER PIPE</a>
<a class="active" href="alarmadmindisplay.html">ALARM STATUS</a>

</div><br>



<script>
    function adminpage() {
    location.replace("Admin.html")
    }
    function sprink() {
    location.replace("sprink.html")
    }
    function street() {
    location.replace("street.html")
    }
    function humidityupdatepage() {
    location.replace("humidityupdatepage.html")
    }
    function alarmupdatepage() {
    location.replace("alarmupdatepage.html")
    }

    </script>

</h1>
</body>
</html>