<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:\Users\User\Desktop\my iot project github\Smart\smartpark\static\css\order.css">
<h1 align ="center">Smart Gardning Website </h1>
</head>

<style>

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	font-family:"Comic Sans MS";
}

.topnav a:hover {
    background-color: blue;
    color: white;
}

.topnav a.active {
    background-color: blue;
    color: yellow;
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}



</style>


<body style="background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500s) no-repeat;">

<h1 align ="center">

<div class="topnav">
  <a class="active" href="">WE MAY THINK WE ARE NARTURING OUR GARDEN,BUT OF COURSE ITS OURGARDEN THATIS REALLY NURTURING US </a>
</div><br>

<div class="topnav">
 <a class="active" href="login.html">SMART GARDNING LOGIN</a>
  <a class="active" href="register.html">REGISTRATION</a>  
<a class="active" href="Admin.html">ADMIN LOGIN</a>
</div><br>

<script>
    function loginpage() {
    location.replace("login.html")
    }
    function registerpage() {
    location.replace("register.html")
    }
    function mainpage() {
    location.replace("new.html")
    }

    function adminpage() {
    location.replace("Admin.html")
    }
    </script>

</h1>
</body>
</html>