<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Details</title>
</head>
<body bgcolor="skyblue"><h1>HUMIDITY STATUS BASED ON ADMIN UPDATION </h1>


<hr>
  {%for item in all5%}
    ID :{{item.id}} <br>
    previous_humidity_value : {{item.previous_humidity_value}} <br>
    present_humidity_value : {{item.present_humidity_value}} <br>
    water_state : {{item.water_state}} <br>
    updatetime : {{item.updatetime}} <br>
    description : {{item.description}} <br>
    
<hr>
  {%endfor%} 


<button onclick="administrator()"  >Back-to-Adminupdate</button>



<script>
    function administrator() {
    location.replace("administratorupdate.html")
    }


    </script>
 
</body>
</html>
