<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Details</title>
</head>
<body bgcolor="lightblue">
<h1>Sprinkler status </h1>
<button onclick="temp()"  >Sprinkler control</button>

<hr>
  {%for item in all2%}
    ID :{{item.id}} <br>
    previous_temparature_value : {{item.previous_temparature_value}} <br>
    present_temparature_value : {{item.present_temparature_value}} <br>
    sprinkler_state : {{item.sprinkler_state}} <br>
 
    description : {{item.description}} <br>
<hr>
  {%endfor%} 


<button onclick="backtohome()"  >Back-to-home</button>



<script>
    function backtohome() {
    location.replace("new.html")
    }

    function temp() {
    location.replace("temp.html")
    }

    </script>
 
</body>
</html>
