<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Details</title>
</head>
<body bgcolor="lightblue">
<h1>Strret light status </h1>
<button onclick="p2l()"  >Street light control</button>

<hr>
  {%for item in all3%}
    ID :{{item.id}} <br>
    sensor_update : {{item.sensor_update}} <br>
    updatetime : {{item.updatetime}} <br>
    description : {{item.description}} <br>
    
<hr>
  {%endfor%} 


<button onclick="mainpage()"  >Back-to-home</button>



<script>
    function mainpage() {
    location.replace("new.html")
    }

    function p2l() {
    location.replace("p2l.html")
    }

    </script>
 
</body>
</html>
